/* header */
.banner {
  background: #5000ca22;
  padding: 2rem;

  /* Løsning: tilføj */
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px 40px;
}

.banner ul {
  list-style: none;
  padding: 0;

  /* Løsning: tilføj */
  display: flex;
  gap: 10px;
}

/* burgermenu */
.toggle-btn {
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

/* Video player */
.video-player {
  display: grid;
  background: #000;
  border-radius: 8px;
  align-self: start;
  margin-bottom: 2.75rem;
  transition: 0.3s;
  aspect-ratio: 16 / 9;
  box-shadow: 0 50px 100px 0 rgba(50, 50, 93, 0.1),
    0 15px 35px 0 rgba(50, 50, 93, 0.15), 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  transform: perspective(900px) rotateY(-10deg) rotateX(10deg) scale(0.85);
}

.video-player.playing {
  transform: none;
}

.video-player > * {
  grid-area: 1 / 1;
}

video {
  inline-size: 100%;
  opacity: 0.5;
  border-radius: inherit;
  transition: 0.3s;
}

.video-player button {
  /* background: #5000ca; */
  background: transparent;
  border: none;
  /* font-size: 1.25rem; */
  font-weight: 700;
  letter-spacing: 0.075rem;
  /* padding: 0.5rem 1rem; */
  padding: 0;
  color: #fff;
  z-index: 1;
  /* place-self: center; */
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;

  display: grid;
  place-content: center;
}

.video-player button svg {
  inline-size: 100px;
  display: block;
  color: #72f1b8;
  border-radius: 999px;
  box-shadow: 0 0 0 0 #fff0;
  transition: 0.3s;
}

.video-player button:hover svg {
  box-shadow: 0 0 0 6px #fff6;
}

.playing button {
  opacity: 0;
  transform: scale(1.5);
  pointer-events: none;
}

.playing video {
  opacity: 1;
}

.video-player figcaption {
  z-index: 1;
  color: #fff;
  padding: 0.5rem 1rem;
  place-self: end center;
  transition: 0.3s;
}

.playing figcaption {
  transform: translateY(100%);
  color: #5000ca;
}
